body {
    height: 100%;
    width: 100%;
    font-family: 'Rubik';
    font-size: 16px;
    }



    .container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-tabs .nav-link {
    border: 1px solid #dee2e6;
    border-radius: 0;
    border-color: black;
    text-align: center;
    
    color: inherit;
    text-decoration: none;
    }

    .nav-tabs .nav-link.active {
        border-top: 1px solid #dee2e6;
        border-color: black black #fff;
        color: black;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active:hover {
    border-color: black black #fff;
    }

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: black black black;
    }

    .hcenter {
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    }

    .bottom-line {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-bottom: 10px;
    }

    .nav-link{
        font-weight: 400;
        font-size: 18px;

    }

    .category{
        border: 1px solid black;
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }
    .category img {
    width: 100%; 
    height: 80%; 
    border: 0px;
    }

    .category div {
    margin-top: 5px;
    font-size: 15px;
  }
    .category_button {
        font-weight: 600;
        margin-top: 50px;
        padding-right: 7%;
        padding-left: 7%;
        padding-top: 2%;
        padding-bottom: 2%;
        background: #FFFFFF;
        border: 2px solid #282828;
        border-radius: 0px;
        font-size: 17px;
    }

    .category_button:disabled {
      border: 2px solid gray;
    }
    .nav-wrapper {
            justify-content: space-between;
            display: flex;
            margin-top: 7px;
            width: 45%; /* Устанавливаем ширину панели навигации равной контейнеру */
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px; /* Добавляем небольшой отступ снизу */
        }
        .nav-bar {
            padding: 20px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 102%;
        }
        .disable-link {
            font-family: 'Rubik';
            color: inherit;
            text-decoration: none;

        }
        .round-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: black;
            margin-left: 10px;
            color: white;
        }
        .round-button i {
            color: white;
        }

        .map-container {
      height: 400px;
      border: 1px solid black; 

    }
    #map_div {
        height: 100%; 
    }
.photo-input{
  text-align: center;
  margin-top: 5%;
}
.img-input{
  text-align: center;
  margin-top: 5%;
}

   
.emoji-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}

.emoji {
  height: 200px;
  width: 200px;
  font-size: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.emoji-text {
  text-align: center;
  font-size: 20px;
  height: 50px;
  width: 90%;
  margin:auto;
  color: rgb(0, 0, 0);
}
.range-container {
  margin: auto;
  width: 90%;
  padding: 15px;
  background: white;

}
.range-slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
